body {
  background: url('../img/background.png') repeat;
}

.navbar .brand{
    padding: 0;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #BBB;
}
.footer img {
    display: inline;
}
