{% extends "base.html" %}
{% set active_page='Acerca de' %}

{% block content %}

<div class='container-fluid'>
  <div class='span12'>
    <h1> Letras Viajeras </h1>

    <p>
    El <i>Instituto Cultural de la Provincia de Buenos Aires</i> presenta
    <b>Letras viajeras</b>, un programa de incentivo de la lectura que
    permitirá a los pasajeros de larga y media distancia tener acceso
    gratuito a libros digitales a través de una conexión <i>Wi-fi</i> que
    permitirá descargar libros y contenidos literarios que ofrecerá la
    <i>Dirección de Bibliotecas y Promoción de la Lectura</i>.
    </p>

    <p>
    En una primera etapa, la biblioteca estará on-line en cincuenta
    colectivos de las empresas El Rápido del Sur, El Rápido Argentino,
    El Águila, El Cóndor-La Estrella y Río Paraná.
    </p>

    <p>
    Los pasajeros se podrán conectar desde sus celulares, tabletas,
    notebook, netbook o e-readers, y a través del cualquier navegador
    accederá de forma directa a un portal web desde donde podrá
    descargar y disfrutar de una variedad de libros y contenidos
    literarios de manera gratuita.
    </p>

    <p>
    “Nuestro objetivo es alentar la inclusión social a través de la
    cultura fomentando la lectura de manera gratuita, uno de los
    principales objetivos del Gobernador Daniel Scioli. La lectura es
    esencial para el desarrollo y formación de los ciudadanos”. Jorge
    Telerman, presidente del Instituto Cultural de la Provincia.
    </p>

    <h2>Dirección de Bibliotecas y Promoción de la Lectura</h2>

    <p>
    La provincia de Buenos Aires cuenta con medio millar de Bibliotecas
    Públicas y Populares que conforman el Sistema de Bibliotecas (Ley
    9319) administrado por el Instituto Cultural de la Provincia de
    Buenos Aires a través de la Dirección de Bibliotecas y Promoción de
    la Lectura, con intervención de la Dirección Provincial de
    Coordinación de Políticas Culturales de la Provincia de Buenos
    Aires.
    </p>

    <p>
    El sistema está integrado por la Biblioteca Central, creada en 1950
    por Domingo Mercante, y la Biblioteca Braille, ambas con sede en
    lacalle 47 Nº 510 de la ciudad de La Plata; y 485 Bibliotecas
    Públicas, Populares, Escolares y Especiales adheridas al Sistema,
    quienes reciben un permanente asesoramiento técnico y subvenciones
    mensuales.
    </p>

    <h2>Solución Tecnológica</h2>

    <p>
    <i>Letras Viajeras</i> fue desarrollado íntegramente con
    <a href="/static/pdf/wikipedia/software-libre.pdf">Software Libre</a>
    por la Cooperativa de Trabajo
    <a href="http://gcoop.coop">gcoop</a>.
    La solución consiste en un Router Inalámbrico al que se le instala
    <a href="/static/pdf/wikipedia/openwrt.pdf">OpenWRT</a>,
    un <i>Firmware</i> libre basado
    en <a href="/static/pdf/wikipedia/nucleo-linux.pdf">Linux</a>.
    </p>

    <p>
    Por otro lado se desarrolló una aplicación para generar el Portal
    web que corre en el Router y que permite ver y acceder a todos los
    materiales disponibles para descarga.
    </p>

    <p>
    Todo el software desarrollado en el marco del proyecto está
    disponible en 
    <a href="https://github.com/gcoop-libre/letras_viajeras">GitHub</a>
    para quien desee pueda generar su propio dispositivo <i>Letra Viajera</i>.
    </p>

  </div>
</div>
{% endblock %}
