{% extends "bootstrap_responsive.html" %}

<title>{% block title %}{{ active_page|e }} | Letra Viajera {% endblock %}</title>

{% block style %}
<link href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
{% endblock %}

{% block body_content %}

{% block navbar %}

{%set navigation_bar = [
    (url_for('libros'), 'Libros'),
    (url_for('cuentos'), 'Cuentos'),
    (url_for('revistas'), 'Revistas'),
    (url_for('acerca_de'), 'Acerca de'),
]
%}

{% set active_page = active_page|default('') %}

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="label">MENU</span>
      </a>
      <a class="brand" href="{{ url_for('index')}}">
        <img src="{{ url_for('static', filename='img/logo.png') }}"/>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          {% for href, titulo in navigation_bar %}
          <li {% if titulo == active_page %} class='active' {% endif %}>
          <a href="{{ href|e }}">{{ titulo|e }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div> 
{% endblock %}

{% block botonera %}
{% if filtros %}
<ul class="nav nav-tabs">
  {% for href, titulo in filtros %}
  <li {% if titulo == filtro_activo %} class='active' {% endif %}>
  <a href="{{ href|e }}">{{ titulo|e }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
<div class="container-fluid">
  {% block content%}
{% endblock %}
  <div class="row-fluid">
    <div class="reader-info well span8 offset2 centered">
      <p><span class="label label-info">nota</span> Si tenés un dispositivo android podés descargar un lector de PDF desde <a href="{{url_for('static', filename='reader/apv-0.4.0-all.apk')}}">acá</a> (<i>APV PDF Viewer</i>).</p>
    </div>
    <div class="footer span12">
      <img src="{{ url_for('static', filename='img/ba-footer.png') }}"/>
    </div>
  </div>
</div>
{% endblock %}
