{% extends "base.html" %}

{% block content %}
<ul class="thumbnails">
  {% for titulo, autor, pdf, imagen in datos %}
  <li class="span6">
  <div class='thumbnail'>
    <a href="{{ url_for('static', filename=pdf) }}">
      {% if imagen == '' %}
      {% set imagen = 'book-fallback.png' %}
      {% endif %}
      <img
      data-src="{{ url_for('static', filename=imagen) }}"
      src="{{ url_for('static', filename=imagen) }}"
      alt="{{ autor|e }} -  {{titulo|e}}"
      >
    </a>
    <h4> {{ titulo|e }} </h4>
    <p> {{ autor|e }} </p>
    <a href="{{ url_for('static', filename=pdf) }}">Descargar</a>
  </div>    
  </li>
  {% endfor %}
</ul>
{% endblock %}
