{% extends "base.html" %}

{% block content %}

{%set items = [
    ('libros', 'Libros', 'img/libros.png'),
    ('cuentos', 'Cuentos', 'img/manuscritos.png'),
    ('revistas', 'Revistas', 'img/revistas.png'),
]
%}
    <div class='container'>
      <div class='row'>
        {% for endpoint, titulo, imagen in items %}        
        <div class='span4 centered separador-bottom-50'>
          <a href="{{url_for( endpoint)}}">
            <h3>{{titulo|e}}</h3>
          <img src='{{ url_for('static', filename=imagen) }}'/>
        </a>
      </div>
      {% endfor %}
      </div>
    </div>
{% endblock %}
