{% extends "base.html" %}
{% set active_page='Revistas' %}

{% block content %}

<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='span4'>
      <h4> El Pendulo 1</h4>
      <a href='pdf/sample.pdf'>
        <img src='revistas/pendulo1.png'/>
        <br/>
        Descargar </a>
    </div>
    <div class='span4'>
      <h4> El Pendulo 2</h4>
      <a href='pdf/sample.pdf'>
        <img src='revistas/pendulo2.png'/>
        <br/>
        Descargar </a>
    </div>
    <div class='span4'>
      <h4> El Pendulo 5</h4>
      <a href='pdf/sample.pdf'>
        <img src='revistas/pendulo5.png'/>
        <br/>
        Descargar </a>
    </div>
  </div>
</div>

{% endblock %}
